.contact-container{
    height: 300px;
    width: 100%;
    /* border: black solid 1px; */
    margin-top: -150px;
        
}

.contact-container p{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    /* margin-bottom: 2rem; */
    text-transform: uppercase;
    text-align: center;
 
}
.contact-container h3{
    color: #2d2e32;
    font-size: 2.5rem;
    text-align: center;
}
.tit{
color: #767676;
cursor: pointer;
font-size: 1.3rem;
text-decoration: none;

}